.navigation {
  padding: 40px 0;
  background-color: #f5f5f5;
  margin-top: 40px;
  position: relative;
}

.navigation svg {
  position: relative;
  top: -1px;
}

.navigation::before {
  content: "";
  position: absolute;
  top: 0;
  height: 1px;
  display: block;
  width: 100%;
  background: -moz-linear-gradient(left, #34c29c 0%, #5bafce 34%, #d5647b 65%, #e4903d 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #34c29c), color-stop(34%, #5bafce), color-stop(65%, #d5647b), color-stop(100%, #e4903d));
  background: linear-gradient(to right, #34c29c 0%, #5bafce 34%, #d5647b 65%, #e4903d 100%);
}

.navigation-next {
  float: right;
}

@media screen and ( max-width: 320px ) {
  .navigation {
    text-align: center;
  }
  
  .navigation-next {
    float: none;
    margin-top: 10px;
    display: block;
  }
}