.wrapper.tag-template {
  margin: 0 auto 40px;
}

.tags-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 22px;
}

.tags-amout-posts {
  margin-bottom: 40px;
  text-align: center;
  border-bottom: 1px solid #EFEFEF;
  padding-bottom: 40px;
}