.blog-posts .title {
  font-size: 22px;
}

.blog-post-content p {
  line-height: 30px;
  font-size: 18px;
  margin: 25px 0;
}

.blog-post-content h1,
.blog-post-content h2,
.blog-post-content h3,
.blog-post-content h4,
.blog-post-content h5 {
  margin: 60px 0 30px;
  font-size: 24px;
}

.blog-post-preview {
  margin-bottom: 60px;
}

.date {
  float: right;
  color: #444;
  font-size: 16px;
}

@media screen and ( max-width: 440px ) {
  .date {
    display: block;
    float: none;
    margin-top: 10px;
    font-size: 12px;
  }
}